rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(ownerId) {
      return isSignedIn() && ownerId == request.auth.uid;
    }

    function noteBelongsToUser(data) {
      return ('ownerUid' in data) && isOwner(data.ownerUid);
    }

    function isRegisteredForTulis() {
      return isSignedIn()
        && exists(/databases/$(database)/documents/users/$(request.auth.uid))
        && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.apps.tulis == true;
    }

    match /users/{userId} {
      allow read, create, update: if isOwner(userId);
    }

    match /tulis/data/notes/{noteId} {
      allow create: if isRegisteredForTulis()
        && ('ownerUid' in request.resource.data)
        && isOwner(request.resource.data.ownerUid);
      allow read, delete: if isRegisteredForTulis() && noteBelongsToUser(resource.data);
      allow update: if isRegisteredForTulis()
        && noteBelongsToUser(resource.data)
        && noteBelongsToUser(request.resource.data);
    }
  }
}
